.App {
  
  min-height: 100% !important;
    height: 100%;
    
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FF9E00;
  height: 12%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content-header{
  position: relative;
  top: 10%;
  padding-left: 10px;
}

.content-header .acciones{
  width: 20%;
  float: left;
}

.content-header .estadisticas{
  width: 60%;
  float: left;
  text-align: center;
}

.content-header .acciones{
  width: 20%;
  float: left;
}

.App-game {
  width: 100%;
  height: auto;
  height: 90%;
  overflow: hidden;
  background: dodgerblue;
  position: relative;
  }

.nav-game{
  height: 10%;
}

.nav-game #nav-mobile{
  height: 50px;
}

.game-scene{
  height: 100%;
}