.round-button {
	width:50px;
  margin-left: 5px;
}

.round-button .round-button-circle{
  border:5px solid #CE0000;
  background: #F7D708; 
  color:#CE0000;
}

.round-button.disabled .round-button-circle{
  border:5px solid #999999;
  background: #CCCCCC; 
  color:#999999;
  
}

.round-button-circle {
  margin-left: -5px;
	height:0;
	padding-bottom: 90%;
  border-radius: 50%;
	
  overflow:hidden;
  
}
.round-button-circle:hover {
	background:#FFCC00;
  cursor: pointer;
}

.round-button.disabled .round-button-circle:hover{
  cursor: not-allowed;
}

.round-button span {
  margin-left: 0;
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center !important;
	
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}

.inline{
  display: inline-block;
}