.animal-container{
    position: absolute;
}

.pato {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100px;
    width: 150px;
}
.pato.left{
    background-image: url("../img/duckLeft.png");
    
}

.pato.right{
    background-image: url("../img/duckRight.png");
}

.pato .barcode{
    top: 67px;
    position: relative;
}
