* { padding: 0; margin: 0; }

html, body, .App, #root, .router-content {
    min-height: 100% !important;
    height: 100%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




.pausa{
  background: black;
  opacity: 0.5;
  min-width: 100%;
  min-height: 90%;
  left:0;
  position: absolute;
  z-index: 9999;
}

/* label focus color */
 .input-field input:focus + label {
   color: #ffab00   !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid#ffab00   !important;
   box-shadow: 0 1px 0 0 #ffab00   !important
 }